<h1>Please Update Your Information:</h1>
  <form action="/athletes/<%= @athlete.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
      <ul>
        <li>Name:<input type="text" name="name" value="<%= @athlete.name %>"></li>
        <li>Email:<input type="text" name="email" value="<%= @athlete.email %>"></li>
        <li>Password:<input type="password" name="password" value=" <%= @athlete.password %>"></li>
        <li>Age:<input type="text" name="age" value="<%= @athlete.age %>"></li>
        <li>Height:<input type="text" name="height" value="<%= @athlete.height %>"></li>
        <li>Weight:<input type="text" name="weight" value="<%= @athlete.weight %>"></li>
        <li>Achievements:<input type="text" name="achievement" value=" <%= @athlete.achievement %>"></li>
      </ul>
    <input type="submit" value="submit">
  </form>
