<h1>Your Profile</h1>
  <ul>
    <li>Name: <%= @athlete.name %> </li>
    <li>Email: <%= @athlete.email %> </li>
    <li>Age: <%= @athlete.age %></li>
    <li>Height:<%= @athlete.height %></li>
    <li>Weight:<%= @athlete.weight %></li>
    <li>Achievements: <%= @athlete.achievement %></li>
  </ul>

  <h3>My teams:</h3>
    <ol>
      <% @athlete.teams.all.each do |athlete_team| %>
        <li> <%= athlete_team.name %> - <%= athlete_team.sport_type %> </li>
      <% end %>
    </ol>

  <br>

 <% if @athlete == current_user %>
  <button type="submit" id="submit"><a href="/athletes/<%= @athlete.id %>/edit">Edit Your Profile</a></button>
      <form action="/athletes/<%= @athlete.id %>/delete" method="post"><br>
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Your Profile"><br>
      </form>
    <button type="submit" id="submit"><a href="/teams/new">Create a New Team</a></button> <br>
<% end %>
  <button type="submit" id="submit"><a href="/athletes">Search for Athletes</a></button> <br>
  <button type="submit" id="submit"><a href="/logout">Logout</a></button> <br>
